#EL-Themes .rtable{
  float:left;
  width:100%;
}
#EL-Themes .phrase{
  min-width: 300px;
}
#EL-Themes .count{
  text-align: center;
}
#EL-Themes .sentiment{
  text-align: center;
}
#EL-Themes .examples .-header{
  display:none;
}
#EL-Themes .sentence{
  padding:20px 20px 20px 30px;
  min-width: 300px;
  white-space: normal;
  background-color: rgba(255, 255, 255, 1)
}
#EL-Themes .source{
  padding:20px;
  white-space: normal;
}
#EL-Themes .download{
  float:right;
  margin:-57px 0px 10px 10px;
}
#EL-Themes .fa-arrow-alt-circle-down{
  font-size:20px;
  position:relative;
  top:1px;
  left:-6px;
}